*[class="model-loading"][data-dash-is-loading="true"]::before{
    content: "Loading model...";
    display: inline-block;
    color: red;
    visibility: visible;
    font-size: 16px;
    /*transition-delay: 1s;
    transition-property: font-size;
    transition-duration: 200ms;*/
}

.completely-hidden{
    display: none;
}

.hidden-but-reserve-space{
    visibility: hidden;
}

#link{
    text-decoration: underline;
    cursor: pointer;
}

.header-container {
    border-bottom: thin lightgrey solid;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-y: auto;
}

.header-control-container {
    margin-left: 20px;
    margin-right: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'BundledDejavuSans';
  font-size: 14px;
  -moz-user-select: none;
}

@font-face {
    font-family: 'BundledDejavuSansMono';
    src: url('DejavuSansMono-5m7L.ttf');
}

@font-face {
    font-family: 'BundledDejavuSans';
    src: url('DejaVuSans.ttf');
}

@font-face {
    font-family: 'BundledDejavuSans';
    src: url('DejaVuSans-Bold.ttf');
    font-weight: bold;
}
